<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>

</head>
<body>
<h1>List Customer</h1>
<p>
    <a th:href="@{/create-customer}">Create Customer</a>
    <a style="margin-left: 50px;" th:href="@{/provinces}">Province List</a>
</p>
<table border="1">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Province</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>

    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__}">edit</a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__}">delete</a></td>
        </tr>
    </th:block>

</table>

<div>
    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>